:root{
    --blue: hsl(223, 87%, 63%);
    --pale-blue:hsl(223, 100%, 88%);
    --light-red:hsl(354, 100%, 66%);
    --gray:hsl(0, 0%, 59%);
    --dark-blue:hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    overflow-x: auto;
}

/*HEADER*/
.container header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em auto;
}

.container header img{
    margin: 2em;
}

.container header p.title{
    font-size: 2em;
    color: var(--gray);
    margin-bottom: 1em;
}
.container header p.title strong{
    font-weight: 700;
    color: black;
}

.container header p{
    font-size: 1em;
    opacity: 0.7;
}

/*INPUT*/
::placeholder{
    color: var(--gray);
    opacity: 0.5;
    text-align: start;
}
.input-class{
    margin-bottom: 3em;
}

.input-class input, button{
    width: 80vw;
    padding: 0.8em;
    border-radius: 1.2em;
    outline: none;
}

.input-class .input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-class .input input{
    color: var(--gray);
    border: 1px solid var(--gray);
    margin-bottom: 0.5em;
    padding-left: 2em;
}
.input-class .input p{
    font-size: 1.2em;
    color: var(--light-red);
    font-style: italic;
}

.input-class button{
    color: white;
    background-color: var(--blue);
    border:1px solid var(--blue);
    box-shadow: 1px 2px 10px  var(--blue);
    transition: 0.2s;
}

.input-class button:hover{
    background-color: var(--pale-blue);
    box-shadow: 1.5px 2.5px 10px  var(--blue);
}

/*IMAGE*/
.image{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.image img{
    width: 320px;
}
/*FOOTER*/

footer{
    margin-top: auto;
}

footer .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .circle{
    border: 1px solid var(--gray);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .circle i{
   color: var(--blue);
   size: 9px;
}

footer p{
    color: var(--gray);
    font-size: 1em;
    margin: 1.5em auto;
}

@media(min-width:720px){
    .container{
        max-width: 1440px;
        width: 720px;
        margin: auto;
    }
    .container header img{
        margin: 4em;
    }
    .container header img{
        margin: 2em;
    }
    
    .container header p.title{
        font-size: 4em;
        color: var(--gray);
        margin-bottom: 0.5em;
    }
    .container header p.title strong{
        font-weight: 700;
        color: black;
    }
    
    .container header p{
        font-size: 2em;
        opacity: 0.7;
    }
    .image{
        margin: 3em;
    }
    
    .image img{
        width: 52em;
    }
    .input-class{
        display: flex;
        align-items: flex-start;
    }

    .input-class .input{
        margin: 0;
    }
    .input-class .input p{
        margin-top: 0.2em;
        font-size: 1.5em;
    }
    .input-class .input  input{
        margin: 0 1rem 0 0;
        width: 350px;
    }
    .input-class button{
        width: 150px;
        margin: 0;
    }
    footer p{
        font-size: 1.5em;
    }
}
